{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!-- external file of downloaded fontawesome 4.5 -->
  <!-- <link rel="stylesheet" href="fontawesome/css/all.min.css"> -->
</head>
<body>
  <!-- registration form starts here -->
  <div class="wrapper">
    <!-- profile icon -->
    <div class="profile">
      <!-- <i class="fas fa-user"></i> -->
    </div>
    <h2>Registration form</h2>
    
    <form action="" method="POST">
      {% csrf_token %}
      <div class="box1 box">
        <div class="field">
          <div class="input_area">
            <input type="text" name="username" placeholder="Your Username">
            <!-- <i class="icon fas fa-user"></i> -->
          </div>
        </div>
        <div class="field">
          <div class="input_area">
            <input type="text" name="email" placeholder="Your Email">
            <!-- <i class="icon fas fa-envelope"></i> -->
          </div>
        </div>
        <div class="field">
          <div class="input_area">
            <input type="password" name="password1" placeholder="Choose Password">
            <!-- <i class="icon fas fa-lock"></i> -->
          </div>
        </div>
        <div class="field">
          <div class="input_area">
            <input type="password" name="password2" placeholder="Confirm Password">
            <!-- <i class="icon fas fa-lock"></i> -->
          </div>
        </div>
        <input type="submit" value="Register">
        <div class="singin_btn">Already registered?<a href="{% url 'signin' %}">Login here</a></div>
      </div>
    </form>
    
  </div>
  <!-- Subscribe: https://www.youtube.com/@DarkCSSYt -->
</body>
</html>
